body {
	/*background-color: #f1f3f3;
	color: #477365; */
	font-family: Arial, Helvetica, Sans-Serif;
	padding-top: 50px; /* Bootstrap fixed navbar */
}

.navbar-default {
	background-color: #CCD8D8;
	border-color: #99B4B4;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #99B4B4;
	color: #f1f3f3;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.popover {
	max-width: 600px;
	width: auto;
}

/* Login */

.page-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -50px; /* fix navbar padding */
}

.login-logo {
	margin-bottom: 20px;
	width: 320px;
}

/* Home */

.cam {
	background-color: #fff;
	padding: 15px;
}

.cam>h4 {
	line-height: 34px; /* from form-control */
	margin: 0 0 15px 0;
	overflow: hidden;
	white-space: nowrap;
}

.cam>div {
	float: right;
}

.cam>img {
	width: 320px;
	height: 240px;
}

/* CRUD */

.table>tbody>tr>td {
	vertical-align: middle;
}
